<div id= "header" class="mat-card">
    <div id="logos" class="row bg-primary rounded-top" style="padding: 0%;">
      <div class="col-1">
        <a href="https://argentinaprograma.inti.gob.ar"><img class= img-thumbnail2 [src]="miPorfolio.backImage" width="100px" height="100px"></a>
      </div>
      <div class="col-10 bg-primary rounded-right-top">
        <a href="https://www.argentina.gob.ar/inti"><img class= img-thumbnail src="assets\Imagenes\LogosInti.png" width="150px" height="150px"></a>
      </div>  
    </div>
    <div id="imagenes" class="row">
      <img [src]="miPorfolio.encabezado.imgbackground" class="rounded-bottom" width="100%" height="300px">
    </div>
</div>