<div id="experiencia" class="card mat-card">
    <h4 class="padding-r">Experiencia</h4>
      <div *ngFor="let experiencia of experienciaList" class="mat-card">
        <div class="row">
          <div class="col-1">
            <img [src]="experiencia.logo" height=50px width=50px>
          </div>
          <div class="col">
            <h5><strong>{{experiencia.empresa}}</strong></h5>
          <div *ngFor="let puesto of experiencia.puesto">
            <h5 >{{puesto.nombre}}</h5><h6>{{puesto.periodo}}</h6>
            <p>{{puesto.descripcion}}</p>
          </div>
          <div>
        </div>
      </div>
</div>